## Project Stage - IV (Dashboard)

## Goals

The final stage aims a developing a simple interactive dashboard based on the analysis you have done so far. In this we will be utilizing Plotly (https://plotly.com/) along with Dash (https://plotly.com/dash/) as our framework. 

*PS: This can be invoked from Jupyter, see here: https://medium.com/plotly/introducing-jupyterdash-811f1f57c02e*

### Tasks:

#### Task 1: (70 pts)
- Team: (30)
    - Main graph
        - Allow for selection of date to show the trend of COVID-19 cases
        - Allow for linear or log mode selection
        - Allow for number of cases or number of deaths
        - Incorporate your best model prediction trend line
        - Ex: https://ourworldindata.org/coronavirus
#### Task 2: (30 pts)
- Team: (30)
    - Map 
        - Show US map of cases or deaths 
        - Ex: https://coronavirus.jhu.edu/us-map
    

**Deliverable**
- Take screenshots of Report upload on canvas.
- Each member creates separate notebooks for member tasks. Upload all notebooks to Github Repository.

## Deadline: 10/22/2020

In [1]:
import pandas as pd

In [4]:
case_raw=pd.read_csv('../Data/Input/covid_confirmed_usafacts.csv')

In [5]:
case_raw.head()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/13/20,10/14/20,10/15/20,10/16/20,10/17/20,10/18/20,10/19/20,10/20/20,10/21/20,10/22/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,1924,1928,1949,1966,1983,1989,1999,2010,2021,2023
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,6248,6270,6285,6333,6350,6369,6375,6405,6443,6475
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,950,950,965,968,977,981,981,988,996,997
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,744,744,761,771,775,785,789,791,801,811