## Project Stage - IV (Dashboard)

## Goals

The final stage aims a developing a simple interactive dashboard based on the analysis you have done so far. In this we will be utilizing Plotly (https://plotly.com/) along with Dash (https://plotly.com/dash/) as our framework. 

*PS: This can be invoked from Jupyter, see here: https://medium.com/plotly/introducing-jupyterdash-811f1f57c02e*

### Tasks:

#### Task 1: (70 pts)
- Team: (30)
    - Main graph
        - Allow for selection of date to show the trend of COVID-19 cases
        - Allow for linear or log mode selection
        - Allow for number of cases or number of deaths
        - Incorporate your best model prediction trend line
        - Ex: https://ourworldindata.org/coronavirus
#### Task 2: (30 pts)
- Team: (30)
    - Map 
        - Show US map of cases or deaths 
        - Ex: https://coronavirus.jhu.edu/us-map
    

**Deliverable**
- Take screenshots of Report upload on canvas.
- Each member creates separate notebooks for member tasks. Upload all notebooks to Github Repository.

## Deadline: 10/22/2020

### Task 1:

In [1]:
import pandas as pd
import dash
import plotly.express as px
from jupyter_dash import JupyterDash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output
import numpy as np
import matplotlib.pyplot as plt

In [2]:
case_raw=pd.read_csv('../Project-PartIV/Data/Input/covid_confirmed_usafacts.csv')
death_raw=pd.read_csv('../Project-PartIV/Data/Input/covid_deaths_usafacts.csv')

In [3]:
case_raw=case_raw[case_raw['countyFIPS']>0]
death_raw=death_raw[death_raw['countyFIPS']>0]

In [4]:
case_sum = case_raw.groupby(by='State').sum()
death_sum = death_raw.groupby(by='State').sum()

In [5]:
case_sum.head()

,countyFIPS,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20,11/24/20,11/25/20,11/26/20,11/27/20,11/28/20
State,,,,,,,,,,,,,,,,,,,,,
AK,64610,60,0,0,0,0,0,0,0,0,...,25182,25182,25182,25924,25924,25924,25924,25924,25924,25924
AL,71489,67,0,0,0,0,0,0,0,0,...,225910,228373,230708,232506,234078,236865,239318,241957,242874,244993
AR,380625,375,0,0,0,0,0,0,0,0,...,137472,139512,141218,142595,143832,145879,147876,150058,150983,152227
AZ,60208,60,0,0,0,0,1,1,1,1,...,287225,291696,295334,299665,302324,306867,310849,314324,318638,322774
CA,357364,354,0,0,0,0,2,3,3,4,...,1079871,1086478,1103363,1108791,1130804,1147645,1161107,1168766,1181562,1197242

In [6]:
case_county=case_sum[case_sum.columns[2:]]

In [7]:
death_county=death_sum[death_sum.columns[2:]]

In [8]:
case_county_=case_county.T
death_county_=death_county.T

In [9]:
case_county_.head()

State,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/26/20,0,0,0,1,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [10]:
newcase_county=case_county_.diff()
newcase_county.iloc[0]=case_county_.iloc[0]

In [11]:
newdeath_county=death_county_.diff()
newdeath_county.iloc[0]=death_county_.iloc[0]

In [12]:
newcase_county.head()

State,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
newcase_county=newcase_county.append([0])
newcase_county=newcase_county[newcase_county.columns[0:-1]]
newcase_county

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/25/20,0.0,2453.0,1997.0,3982.0,13462.0,4191.0,1842.0,107.0,309.0,8337.0,...,1283.0,2775.0,15798.0,1888.0,2719.0,66.0,2983.0,5997.0,969.0,802.0
11/26/20,0.0,2639.0,2182.0,3475.0,7659.0,6053.0,0.0,220.0,582.0,0.0,...,0.0,3907.0,11832.0,481.0,2598.0,0.0,0.0,5665.0,1129.0,0.0
11/27/20,0.0,917.0,925.0,4314.0,12796.0,4270.0,3293.0,201.0,576.0,17302.0,...,2137.0,4275.0,3515.0,5178.0,1544.0,178.0,4273.0,1423.0,867.0,1168.0
11/28/20,0.0,2119.0,1244.0,4136.0,15680.0,4330.0,0.0,371.0,494.0,6200.0,...,820.0,6189.0,5692.0,2264.0,3175.0,28.0,2460.0,5473.0,800.0,0.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
from sklearn.model_selection import train_test_split
import sklearn.tree
for idx,state in enumerate(newcase_county.columns):
    tem=pd.DataFrame()
    tem['case']=newcase_county[state][:-1]
    tem['DAFC']=range(0,len(tem))
    X= tem['DAFC'].values.reshape(-1,1)
    y = tem['case'].values.reshape(-1,1)
    dt = sklearn.tree.DecisionTreeRegressor()
    dt.fit(X,y)
    newcase_county.loc[0][state]=dt.predict([[len(tem)]])

In [15]:
newcase_county

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/25/20,0.0,2453.0,1997.0,3982.0,13462.0,4191.0,1842.0,107.0,309.0,8337.0,...,1283.0,2775.0,15798.0,1888.0,2719.0,66.0,2983.0,5997.0,969.0,802.0
11/26/20,0.0,2639.0,2182.0,3475.0,7659.0,6053.0,0.0,220.0,582.0,0.0,...,0.0,3907.0,11832.0,481.0,2598.0,0.0,0.0,5665.0,1129.0,0.0
11/27/20,0.0,917.0,925.0,4314.0,12796.0,4270.0,3293.0,201.0,576.0,17302.0,...,2137.0,4275.0,3515.0,5178.0,1544.0,178.0,4273.0,1423.0,867.0,1168.0
11/28/20,0.0,2119.0,1244.0,4136.0,15680.0,4330.0,0.0,371.0,494.0,6200.0,...,820.0,6189.0,5692.0,2264.0,3175.0,28.0,2460.0,5473.0,800.0,0.0
0,0.0,2119.0,1244.0,4136.0,15680.0,4330.0,0.0,371.0,494.0,6200.0,...,820.0,6189.0,5692.0,2264.0,3175.0,28.0,2460.0,5473.0,800.0,0.0

In [16]:
newdeath_county=newdeath_county.append([0])
newdeath_county=newdeath_county[newdeath_county.columns[0:-1]]
newdeath_county

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/25/20,0.0,60.0,21.0,9.0,104.0,46.0,45.0,4.0,1.0,90.0,...,28.0,84.0,200.0,24.0,30.0,0.0,15.0,64.0,12.0,13.0
11/26/20,0.0,41.0,11.0,46.0,54.0,50.0,0.0,0.0,3.0,0.0,...,0.0,53.0,206.0,0.0,20.0,0.0,0.0,62.0,23.0,0.0
11/27/20,0.0,0.0,0.0,20.0,62.0,21.0,35.0,0.0,1.0,116.0,...,39.0,10.0,51.0,13.0,15.0,3.0,0.0,17.0,0.0,0.0
11/28/20,0.0,0.0,13.0,36.0,37.0,6.0,0.0,1.0,6.0,79.0,...,54.0,14.0,102.0,14.0,13.0,0.0,0.0,28.0,6.0,0.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
for idx,state in enumerate(newdeath_county.columns):
    tem=pd.DataFrame()
    tem['case']=newdeath_county[state][:-1]
    tem['DAFC']=range(0,len(tem))
    X= tem['DAFC'].values.reshape(-1,1)
    y = tem['case'].values.reshape(-1,1)
    dt = sklearn.tree.DecisionTreeRegressor()
    dt.fit(X,y)
    newdeath_county.loc[0][state]=dt.predict([[len(tem)]])

In [18]:
newdeath_county

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/25/20,0.0,60.0,21.0,9.0,104.0,46.0,45.0,4.0,1.0,90.0,...,28.0,84.0,200.0,24.0,30.0,0.0,15.0,64.0,12.0,13.0
11/26/20,0.0,41.0,11.0,46.0,54.0,50.0,0.0,0.0,3.0,0.0,...,0.0,53.0,206.0,0.0,20.0,0.0,0.0,62.0,23.0,0.0
11/27/20,0.0,0.0,0.0,20.0,62.0,21.0,35.0,0.0,1.0,116.0,...,39.0,10.0,51.0,13.0,15.0,3.0,0.0,17.0,0.0,0.0
11/28/20,0.0,0.0,13.0,36.0,37.0,6.0,0.0,1.0,6.0,79.0,...,54.0,14.0,102.0,14.0,13.0,0.0,0.0,28.0,6.0,0.0
0,0.0,0.0,13.0,36.0,37.0,6.0,0.0,1.0,6.0,79.0,...,54.0,14.0,102.0,14.0,13.0,0.0,0.0,28.0,6.0,0.0

In [50]:
#App layout
app=JupyterDash(__name__)

# the style arguments for the sidebar. We use position:fixed and a fixed width
SIDEBAR_STYLE = {
    "position": "fixed",
    "top": 0,
    "left": 0,
    "bottom": 0,
    "width": "4rem",
    "padding": "2rem 1rem",
    "background-color": "#f8f9fa",
    'overflowY':'scroll',
}

# the styles for the main content position it to the right of the sidebar and
# add some padding.
CONTENT_STYLE = {
    "margin-left": "5rem",
     "margin-right": "2rem",
     "padding": "2rem 1rem",
}

sidebar = html.Div([
    html.H5("Choose Counties",style={'text-align':'left'}),
    dcc.Checklist(id='checklist',options=[{'label':c,'value':c} for c in newdeath_county.columns[1:]],
                  value=["TX"])
    
], style=SIDEBAR_STYLE)
content=html.Div([
    html.H1("Covid19 Team Project Stage IV",style={'text-align':'center'}),
    dcc.Dropdown(id='case_death',options=[{"label":"Case","value":"case"},
                                          {"label":"Death","value":"death"}
                                         ],multi=False,value="case",style={'width':"30%"}),
    dcc.RadioItems(id='log',options=[{"label":"LINEAR","value":"LINEAR"},
                                          {"label":"LOG","value":"LOG"}
                                         ],value="LINEAR",style={'display':'inline-block'}),
    dcc.Graph(id='output_trend')
],style=CONTENT_STYLE)

app.layout=html.Div([sidebar,content])

# Connect the Plotly graphs with Dash Components
@app.callback(
    Output(component_id='output_trend', component_property='figure'),
    [Input(component_id='checklist', component_property='value'),
     Input(component_id='case_death', component_property='value'),
     Input(component_id='log', component_property='value')]
)
def update_graph(checklist,option_slctd,linear_log):
    #Implement 7 day moving average
    moving_avg = newcase_county['TX'].rolling(window=7).mean()
    
    line_avg = px.line(x=newcase_county.index, y=[newcase_county[c] for c in checklist])
    
    line_avg2 = px.line(x=newcase_county.index, y=moving_avg)
    fig = {'data:'[line_avg]}
    
    # Plotly Express
    if(option_slctd=='case'):
        if(linear_log=='LINEAR'):
            fig = px.line(data_frame=newcase_county, x=newcase_county.index, y=[newcase_county[c] for c in checklist], title='COVID19 Daily Case Trend')
        else:
            fig = px.line(data_frame=newcase_county, x=newcase_county.index, y=[newcase_county[c] for c in checklist], title='COVID19 Daily Case Trend',log_y=True)
    else:
        if(linear_log=='LINEAR'):
            fig = px.line(data_frame=newdeath_county, x=newdeath_county.index, y=[newdeath_county[c] for c in checklist],title='COVID19 Daily Death Trend')
        else:
            fig = px.line(data_frame=newdeath_county, x=newdeath_county.index, y=[newdeath_county[c] for c in checklist],title='COVID19 Daily Death Trend',log_y=True)
    return fig

app.run_server(mode='inline',port=8051)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-50-ac26967d4ca1> in update_graph(
    checklist=['TX'],
    option_slctd='case',
    linear_log='LINEAR'
)
     55
     56     trace1 = px.line(x=newcase_county.index, y=moving_avg)
---> 57     fig = {'data:'[trace]}
        fig = undefined
        trace = Figure({
    'data': [{'hovertemplate': 'variable=wide_variable_0<br>x=%{x}<br>value=%{y}<extra></extra>',
              'legendgroup': 'wide_variable_0',
              'line': {'color': '#636efa', 'dash': 'solid'},
              'mode': 'lines',
              'name': 'wide_variable_0',
              'orientation': 'v',
              'showlegend': True,
              'type': 'scatter',
              'x': array(['1/22/20', '1/23/20', '1/24/20', ..., '11/27/20', '11/28/20', 0],
                         dtype=object),
              'xaxis': 'x',
              'y': array([   0.,    0.,    0., ..., 3515., 5692., 5692.]),
              'yaxis': 'y'}],
    'layout': {'legend': {'title': {'text': 'variable'}, 'tracegroupgap': 0},
               'margin': {'t': 60},
               'template': '...',
               'xaxis': {'anchor': 'y', 'domain': [0.0, 1.0], 'title': {'text': 'x'}},
               'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0], 'title': {'text': 'value'}}}
})
     58
     59     # Plotly Express

TypeError: string indices must be integers

### the last y-value for x-value 0 is the prediction for next day. The index is  a little bit small, please zoom in to see.

In [43]:
app.run_server(mode='inline',port=8051)